<div
  class="fixed left-0 bg-[#121212] w-96 h-full shadow-sm border-e border-neutral-900"
>
  <div class="flex flex-col p-8">
    <!-- logo -->
    <div class="logo">
      <a href="/" class="flex items-center text-3xl text-green-500 font-bold mb-8">
        <img src="img/songlify_logo.png" alt="" height="26px" width="26px"
        class="me-3"> Spotinode
      </a>
    </div>
      <div class="flex flex-col">
        <!-- header -->
        <div class="font-bold text-xl text-[#535353] flex justify-between items-center mb-4">
            Your library
            <div class="flex">
              <button id="add_playlist" class="text-base flex items-center bg-inherit hover:bg-[#212121] rounded-full p-2 me-1">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
                <!-- <a href="" class="text-base flex items-center bg-inherit hover:bg-[#212121] rounded-full p-2">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a> -->
            </div>
        </div>
        <!-- list of playlists -->
         <!-- loop -->
        <a href="" class="flex items-center rounded-lg p-4 hover:bg-[#212121] mb-4">
            <img src="img/songlify_logo.png" alt="" height="24px" width="24px" class="me-4">
            <span class="font-medium text-white">Title</span>
        </a>
        
      </div>
    </div>
  </div>
</div>

<!-- modal -->
 <!-- Create Playlist Modal -->
<div id="create_playlist_modal" class="fixed z-50 inset-0 hidden overflow-y-auto">
  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-[#121212] p-8 rounded-lg shadow-lg w-96 relative ">
      <button
      id="close_playlist_modal"
      class="absolute top-4 right-4 text-white text-xl"
    >
      &times;
    </button>
      <h2 class="text-white text-2xl font-bold mb-8">Create Playlist</h2>

      <form id="createPlaylistForm" action="/playlist/create" method="get" enctype="multipart/form-data">
        <label class=" mb-2 text-white">Playlist Name</label>
        <input type="text" name="playlist_name" required class="text-white block mt-2 mb-4 py-2 px-4 rounded-full w-full bg-[#535353] outline-none focus:outline focus:outline-green-500" placeholder="Enter playlist name"
        >

        <!-- Add optional playlist image input here if needed -->
               <!-- Image input for the playlist -->
        <label class=" mb-2 text-white">Playlist Image</label>
        <input type="file" name="playlist_img" required accept="image/*" class="cursor-pointer text-white block mt-2 mb-8 py-2 px-4 rounded-full w-full bg-[#535353] file:rounded-lg file:border-none file:bg-inherit file:text-green-500 file:font-bold">
        
        <input
        type="submit"
        value="Create Playlist"
        class="bg-green-500 px-8 py-2 rounded-full hover:bg-green-600 active:bg-green-700 font-bold cursor-pointer w-full"
      />
      </form>
    </div>
  </div>
</div>

<!-- add playlist modal-->
<script>
  // Modal toggle functionality
  const createPlaylistBtn = document.getElementById("add_playlist");
  const createPlaylistModal = document.getElementById("create_playlist_modal");
  const cancelBtn = document.getElementById("close_playlist_modal");

  createPlaylistBtn.addEventListener("click", () => {
    createPlaylistModal.classList.remove("hidden");
  });

  cancelBtn.addEventListener("click", () => {
    createPlaylistModal.classList.add("hidden");
  });

  window.addEventListener("click", (e) => {
    if (e.target === modal) {
      modal.classList.add("hidden");
      modal.classList.remove("flex");
    }
  });
</script>
